.showh1{
	text-align:center
	font-size: 24px;
    color: #666;
    line-height: 34px;
    border-bottom: 1px solid #666;
    width: 160px;
    margin: 20px auto;
}

/* teaknow */
#teaknow {
    background: #fff;
    width: 960px;
    margin:10px auto;
    height: 300px;
	margin-top:60px;
    padding-bottom: 30px;
    /* must be relative so the individual panes can be absolutely positioned */
    position: relative;
}

#cup {
    font-size: 14px;
    color: #444;
    width: 900px;
	margin:20px auto;
    padding-right: 15px;
}

.one-third {
    float: left;
    margin-right: 75px;
    width: 250px;
}

.one-third  h2{
    text-align:center;
}

.one-third  p{
    margin-top:10px;
}

.last {
    margin-right: 0px!important;
}

